<div class="row">
  <div class="col-md-3">
    <app-selector-fechas (onFiltroSeleccionado)="regenerarDias($event)"></app-selector-fechas>
    <scg-panel titulo="Medicinas">
        <div *ngFor="let medicina of medicinas" class="badge badge-secondary medicina" draggable="true"
          (dragstart)="drag($event)" attr.data-value="{{medicina.id}}">
          {{medicina.titulo}}</div>
      </scg-panel>
  </div>
  <div class="col-md-9">
      <app-edicion-dia *ngFor="let dia of dias" [fecha]="dia"></app-edicion-dia>  
  </div>
</div>

