<!-- <p>    
    <button class="btn btn-success" (click)="openseleccionarurl()">Seleccionar url de una lista</button>
    
</p>
<div class="btn-group">
    <button class="btn btn-success" (click)="pruebaabrircomponente1()">Prueba 1</button>
    <button class="btn btn-success" (click)="pruebaabrircomponente2()">Prueba 2</button>
</div> -->
<div>
    <p>
        <input type='file' accept='image/x-png,image/gif,image/jpeg' (change)='openFile($event)'>
    </p>
    <input type="text" [(ngModel)]="url" />
    <button class="btn btn-success" (click)="cargardeurl()">Cargar</button>
    <div>
        <ul>
            <li *ngFor="let item of urls">
                <span (click)="select(item.name)">{{item.name}}</span>
            </li>
        </ul>
    </div>
</div>
