<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav" *ngIf="authServ.user | async as user">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/demomapa">Mapa</a>
      <a class="nav-item nav-link" routerLink="/demosyncfusion">Syncfusion</a>
      <a class="nav-item nav-link" routerLink="/tictactoe">Tic Tac Toe</a>
      <a class="nav-item nav-link" routerLink="/cognitive">Cognitive services</a>
      <a class="nav-item nav-link" routerLink="/galerias">Galerias</a>
      <a class="nav-item nav-link" routerLink="/medicacion">Medicacion</a>
      <a class="nav-item nav-link" routerLink="/varios">Varios</a>
      <!-- <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a> -->
    </div>
    <!-- <div class="nav navbar-nav navbar-right">
      <div class="inset" *ngIf="authServ.user | async as user">
        <img [src]="user.photoURL">
      </div>
    </div> -->
  </div>
</nav>
<!-- <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div> -->