<div class="row">
  <div class="col-md-6 mt-md-3">
    <scg-panel titulo="Iconos spinner">
      <div>
          <ejs-slider [(value)]="tamanioSpinner" min="1" max="10" ></ejs-slider>
          {{tamanioSpinner}}
      </div>
      <div>
        <fa-icon *ngFor="let i of iconosSpinner" [icon]="i" [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated"
          [size]="tamanioSpinner + 'x'"></fa-icon>
        <!-- <fa-icon [icon]="['fas', 'sync']" [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated"></fa-icon>               -->
      </div>
    </scg-panel>
  </div>
  <div class="col-md-6  mt-md-3">
    <scg-panel titulo="Un panel">
      <div>El contenido de un panel</div>
    </scg-panel>
  </div>
  <div class="col-md-6  mt-md-3">
    <scg-panel titulo="Otro panel">
      <div>El contenido de un panel</div>
    </scg-panel>
  </div>

</div>