<div class="row">
  <div class="col-md-12">
    <images-image-loader (ImagenCargada)="addImagen($event)"></images-image-loader>
  </div>  
</div>
<ngb-tabset  [destroyOnHide]="false">
  <ngb-tab *ngFor="let img of imagenes" [title]="img.name">          
    <ng-template ngbTabContent>
      <div class="container">
      <div class="row">
        <div class="col-md-12">
            <images-imagen [dataUrl]="img.dataUrl"></images-imagen>
        </div>
      </div>
    </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- <images-imagen *ngFor="let img of imagenes" [dataUrl]="img.dataUrl"></images-imagen> -->
<!-- <ejs-tab #tab>
    <e-tabitems>
        <e-tabitem *ngFor="let img of imagenes" [header]='img.name'>
          <p>aa</p>
            <ng-template #content>
              <images-imagen [dataUrl]="img.dataUrl"></images-imagen>
            </ng-template>
        </e-tabitem>
    </e-tabitems>
</ejs-tab> -->



