<ngb-tabset [destroyOnHide]="false">
  <ngb-tab title="Tags" *ngIf="info!=null">
    <ng-template ngbTabContent>
      <pre>
        {{info | json}}
      </pre>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="'Emoción'">
    <ng-template ngbTabContent>
        <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width'  [primaryXAxis]='primaryXAxis'
        [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (pointRender)='pointRender($event)'
        [legendSettings]='legend' (load)='load($event)'>  
        <e-series-collection>
          <e-series [dataSource]='emocionData' type='Bar' name='Emocion' xName='x' yName='y' width="2" tooltipMappingName='country'
            [marker]='marker'> </e-series>          
        </e-series-collection>
      </ejs-chart>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="'Color de pelo'">
      <ng-template ngbTabContent>
          <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width'  [primaryXAxis]='primaryXAxis'
          [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (pointRender)='pointRender($event)'
          [legendSettings]='legend' (load)='load($event)'>    
          <e-series-collection>            
            <e-series [dataSource]='peloData' type="Bar" name="Pelo" xName="x" yName="y" width="2" tooltipMappingName="country"
              [marker]='marker'></e-series>
          </e-series-collection>
        </ejs-chart>
      </ng-template>
    </ngb-tab>
</ngb-tabset>



<!-- <div class="card">
  <div class="card-header">
    <h5>{{info.faceId}}</h5>
  </div>
  <div class="card-body">
    <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' id='chartcontainer' [primaryXAxis]='primaryXAxis'
      [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (pointRender)='pointRender($event)'
      [legendSettings]='legend' (load)='load($event)'>

      <e-series-collection>
        <e-series [dataSource]='emocionData' type='Bar' name='Emocion' xName='x' yName='y' width="2" tooltipMappingName='country'
          [marker]='marker'> </e-series>
        <e-series [dataSource]='peloData' type="Bar" name="Pelo" xName="x" yName="y" width="2" tooltipMappingName="country"
          [marker]='marker'></e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div> -->