<div class="row">
  <div class="col-md-2">
    <ejs-menu orientation="Vertical" [items]="menuItems" [fields]="menuFields" (select)="navegar($event)"></ejs-menu>
    <!-- <ul>
      <li><a [routerLink]="['',{outlets: {aa:['colorpicker']}}]">Color Picker</a></li>
      <li><a [routerLink]="['',{outlets: {aa:['slider']}}]">Slider</a></li>
      <li><a [routerLink]="['colorpicker']">Color Picker</a></li>
      <li><a [routerLink]="['slider']">Slider</a></li>
    </ul> -->
    
    <!-- <p>Aquí el menú de componentes de Syncfusion</p>     -->
  </div>
  <div class="col-md-10">    
    <!-- <p>Aquí las demos que vayamos cargando</p> -->
    <router-outlet></router-outlet>        
  </div>
</div>
